.redColor {
    color: red
}
.content {
    height: 80%;
    overflow: hidden;
    overflow-y: scroll;
    margin: 100px auto
}
body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0
}
.footer {
    background-color: #fff;
    bottom: 0;
    position: fixed;
    padding: 10px;
    text-align: center;
    border-top: 5px solid #DDD;
    margin-top: 10px
}
.navbar {
    border-bottom: 5px solid #DDD
}
body {
    font-family: Arial
}
.selectedVal {
    height: 30px;
    padding: 5px;
    border: 1px solid #CCC
}
.navbar-nav>li>a {
    margin-top: 20px
}
.navbar-default .navbar-nav>li>a.welcomeText {
    margin-top: 10px
}
.navbar-default .navbar-nav>li>a.headerImg {
    margin-top: 0
}
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:hover {
    color: #b52e31
}
.navbar-default .navbar-nav>li>a.headerImg:hover,
.navbar-default .navbar-nav>li>a.welcomeText:hover,
a {
    color: #777
}
.welcomeText {
    cursor: default
}
.headerImg {
    text-indent: -99999px;
    display: inline-block;
    width: 80px;
    height: 80px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background: url(https://files.readme.io/r16Zw7jmSIuTOETYTpFh_angular-formly-logo-1200px.png)
}
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0!important;
    padding: 0
}
ul.social-network li {
    display: inline;
    margin: 0 5px
}
.social-network a.icoRss:hover {
    background-color: #F56505
}
.social-network a.icoFacebook:hover {
    background-color: #3B5998
}
.social-network a.icoTwitter:hover {
    background-color: #3cf
}
.social-network a.icoGoogle:hover {
    background-color: #BD3518
}
.social-network a.icoVimeo:hover {
    background-color: #0590B8
}
.social-network a.icoLinkedin:hover {
    background-color: #007bb7
}
.social-network a.icoFacebook:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoRss:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoVimeo:hover i {
    color: #fff
}
.socialHoverClass,
a.socialIcon:hover {
    color: #44BCDD
}
.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
}
.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}
.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s
}
.social-circle i {
    color: #fff;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -o-transition: all .8s;
    -ms-transition: all .8s;
    transition: all .8s
}
.social-network a {
    background-color: #D3D3D3
}

h2.bg-info{
	font-size: 16px;
    padding: 8px;
}
.search{}

/* Default configuration is applicable for the mobile devices. See @Media section for desktop */

/* Begin - Fix existing app classes to hide scrollbar and the wrap in the header sections*/
body.modal-open {
    overflow: hidden;
}
.angular-google-map-container { width:100%;height: 400px; }
#stopGrid {
    font-size: 11px;
    max-height: 100%;
}
input[readonly] {
  cursor: auto;
}
.ro-result-row{
    min-height:16px;
}
.ro-color-black{
    color: black;
}

.ro-upload{
    position: absolute;
    width: 120px !important;
    height: 26px;
    z-index: 1;
}

.upload{
    position: absolute;
    top: 0;
    left:10;
    width: 120px !important;
    height: 26px;
    z-index: 5;
    opacity: 0;
}

.ro-ms-option span{
    white-space: pre;
}

.ro-attachment-btn{
    position: absolute;
    width: 60px !important;
    height: 26px;
    z-index: 1;
}
.ro-attachment-upload{
    opacity: 0;
    position: absolute;
    top: 0;
    left:10;
    width: 60px !important;
    height: 26px;
    z-index: 5;
}
#stopGrid .ui-grid-header-cell .ui-grid-cell-contents {
     height: 40px;
     white-space: normal;
     -ms-text-overflow: clip;
     -o-text-overflow: clip;
     text-overflow: clip;
     overflow: visible;
}
input[readonly]:focus {
  cursor: auto;
}
.ro-sortable-grid-row{
    margin-top:2px;
    margin-bottom:1px;
}
.ro-time{
    height: 26px !important;
}
.ro-time-seperator{
    text-align:center;
    display: block;
    width:100% ;
    height:26px;
    line-height:26px;
    vertical-align:middle;
}
.ro-stop-tmz{
    display: block;
    height:24px;
    line-height:24px;
    vertical-align:middle;
}
.ro-textarea { resize:vertical ; max-height:200px; min-height:35px;}

.ro-stop-tp{
    width: 100% !important;
}
#headerContainer{
    background: #878787;
    height: 32px;
    background-color: rgb(135, 135, 135);
    background-image: linear-gradient(bottom, rgb(124,124,124) 32%, rgb(143,143,143) 100%);
    background-position: -o-linear-gradient(bottom, rgb(124,124,124) 32%, rgb(143,143,143) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(124,124,124) 32%, rgb(143,143,143) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(124,124,124) 32%, rgb(143,143,143) 100%); 
    background-image: -ms-linear-gradient(bottom, rgb(124,124,124) 32%, rgb(143,143,143) 100%);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
}

#header-primary-links{
    min-width: 1000px;
    max-width:100%;
}

#header-primary-link{
    margin-top:12px;
}

#header-primary-nav-container,
#header-primary-nav-container *,
#header-primary-nav-container *:before,
#header-primary-nav-container *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; 
}

#footerContainer {
    top: 110px;
    width: 980px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/**************************************/
/* Begin - Vendor Overrides*/
/**************************************/

input:-ms-input-placeholder {
    color: #B1B1C6;
}

/**************************************/
/* Begin - Bootstrap Default Overrides*/
/**************************************/

.dropdown-menu{
    z-index: 1;
    padding-top:0px;
    list-style-type: none;
}

.dropdown-menu li{
    list-style-type: none;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
    display: block;
}

.alert{
    margin-bottom: 0px;
}
/****************************/
/* Waiting Screen Styles*/
/****************************/

.ro-waiter-container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-size:14px;
    background: rgba(0,0,0,0.7);
    z-index: 10;
}
.ro-waiter {
    color:white;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    z-index: 0;
    display: table;
}

.ro-waiter-cubemove span{
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}

.ro-waiter-cubemove1, .ro-waiter-cubemove2 {
  background-color: #fff;
  width: 15px;
  height: 15px;
  position: absolute;
  
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.ro-waiter-cubemove2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(85px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(85px) translateY(85px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(85px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(85px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(85px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(85px) translateY(85px) rotate(-179deg);
    -webkit-transform: translateX(85px) translateY(85px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(85px) translateY(85px) rotate(-180deg);
    -webkit-transform: translateX(85px) translateY(85px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(85px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(85px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

.ro-waiter-pulse:before,
.ro-waiter-pulse:after {
    opacity: 0;
    box-sizing: border-box;
    content: "\0020";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 5px solid #fff;
    box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
}

.ro-waiter-pulse:after {
    z-index: 1;
    animation: pulse 2s infinite 1s;
    -webkit-animation: pulse 2s infinite 1s;
}

.ro-waiter-pulse:before {
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    z-index: 2;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/****************************/
/* Type Ahead Styles*/
/****************************/

.ro-textarea:focus{
    border:1px solid #7bc1f7 !important;
    outline:none !important;
    box-shadow: 0 0 10px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

.ro-searchable-list-container:focus{
    border:1px solid #7bc1f7 !important;
    outline:none !important;
    box-shadow: 0 0 10px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

.ro-searchable-list-container *{
    font-size: 12px;
}

.ro-searchable-list-container input{
    width:inherit;
    height:100%;
    border: 0px;    
    padding:0px;
    padding-left: 5px;
    border-radius: inherit;
    white-space: pre;
}

.ro-searchable-list-container input:focus{
    outline: none !important;
}
/*****************************
    Auto Complete Styles
******************************/

.ro-autocomplete-container:focus{
    border:1px solid #7bc1f7 !important;
    outline:none !important;
    box-shadow: 0 0 10px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

.ro-autocomplete-container *{
    font-size: 12px;
}

.ro-autocomplete-container input{
    width:inherit;
    height:100%;
    border: 0px;    
    padding:0px;
    padding-left: 5px;
    border-radius: inherit;
}

.ro-autocomplete-container input:focus{
    outline: none !important;
}

/****************************/
/* Date Picker Styles*/
/****************************/

.ro-datepicker-container{
    display: table; 
    border: 1px solid grey;
    overflow:hidden;
}

.ro-datepicker-container:focus{
    border:1px solid #7bc1f7 !important;
    outline:none !important;
    box-shadow: 0 0 10px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

.ro-datepicker-input-container{
    display: table-cell; 
    width: auto;
    line-height: 100%;
    height: 100%;
    min-height:24px;
}

.ro-datepicker-button-container{
    display: table-cell; 
    width: 30px;
    line-height: 100%;
    height: 100%;
    min-height:24px;
}

.ro-datepicker-button{
    width:30px;
    line-height: 100%;
    height: 100%;
    border-left: 1px solid grey;
    border-right:0px;
    border-top:0px;
    border-bottom:0px;
    padding:0px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    
    background-repeat: repeat-x;
}

.ro-datepicker-input{
    border: 0px; 
    padding: 0px;
    width:100%;
    line-height: 100%;
    height: 100%;
    border-radius: 4px;
    padding-left: 5px;
}

.ro-datepicker-input:focus{
    outline: none !important;
}

.ro-datepicker-input:disabled{
    background-color:rgb(244,244,244);
}

.ro-datepicker-input::-ms-clear {
    display: none;
}

.ro-datepicker-container .dropdown-menu table:focus{
    border:1px solid #7bc1f7 !important;
    outline:none !important;
    box-shadow: 0 0 10px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

/****************************/
/* Ro Select Styles*/
/****************************/

.ro-select-container{
   height:26px;
   line-height:normal;
}

ro-select .ui-select-container{
    width: 100%
}

.ro-select{
    display:table;
    height:24px;
    width:100%;
    box-sizing: content-box;
    border:1px solid #B0B0B0;
    border-radius: 5px;
    text-shadow: 0 1px 0 #fff;
}

.ro-select:focus{
    border:1px solid #7bc1f7 !important;
    outline:none !important;
    box-shadow: 0 0 10px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

.ro-select-options-container{
     z-index: 1; 
     display: block;
     top:5px;
     height: auto;
     max-height:195px;
     border: 1px solid rgba(169,169,169,0.5);
     position:relative;
     background-color: #fff;
     box-shadow: 0 6px 12px rgba(0,0,0,0.175);
     border-bottom-left-radius: 4px;
     border-bottom-right-radius: 4px;
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
}
.ro-select-options-container:before {
     content: '';
     top: -5px;
     left: 7px;
     display: inline-block;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-bottom: 5px solid #ccc;
     border-top: 0;
     border-bottom-color: rgba(0, 0, 0, 0.2);
     position: absolute;
}
.ro-select-options-container:after {
     top: -6px;
     left: 7px;
     content: '';
     display: inline-block;
     border-left: 6px solid transparent;
     border-right: 6px solid transparent;
     border-bottom: 6px solid #fff;
     border-top: 0;
     position: absolute;
}

.ro-select-options{
    padding: 3px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
    max-height: 193px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ro-select-options li{
    list-style: none;
    display: list-item;
    background-image: none;
    text-transform:uppercase;
    cursor:pointer;
}

.ro-select-option-label{
    padding: 5px 8px 5px 8px;
    font-size: 11px;
}

.ro-select-option-selected{
    background: #BDBDBD;
}

.ro-select-input{
    display:table-cell;
    padding: 0px 0px 0px 5px;
    border: 0px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    height:inherit;  
    line-height:24px;  
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-transform: uppercase;
}



.ro-select-label{
    display:table-cell;
    padding: 0px 0px 0px 5px;
    border: 0px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    height:inherit;  
    line-height:24px;  
    width:100%;
    background: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.ro-select-input::-ms-clear {
    display: none;
}

.ro-select-input:focus{
    outline: none !important;
}

.ro-select-button{
    top: 0px;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    border-bottom-right-radius: inherit;
    border-top-right-radius: inherit;
    width: 24px;
}

.ro-select-button-disabled{
    top: 0px;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    width: 24px;
    border-bottom-right-radius: inherit;
    border-top-right-radius: inherit;
    background-color: rgb(235, 235, 228);
}

/****************************/
/* Ro Multiselect Styles*/
/****************************/

.ro-ms-container{
  height:26px;
   line-height:normal;
}

.ro-ms{
    display:table;
    height:24px;
    width:100%;
    box-sizing: content-box;
    border:1px solid #B0B0B0;
    border-radius: 5px;
    text-shadow: 0 1px 0 #fff;

}

.ro-span-height{
    line-height: 26px;
}

.ro-ms:focus{
    border:1px solid #7bc1f7 !important;
    outline:none !important;
    box-shadow: 0 0 10px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

.ro-ms-options{
    padding: 3px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    height: auto;
    max-height: 195px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ro-ms-option:hover{
    background: #BDBDBD;
}

.ro-ms-option-highlight{
    background: #BDBDBD;
}

.ro-ms-option{
    padding: 5px 8px 5px 8px;
    min-width: 400px;
    width: 100%;
}

.ro-ms-option-label{
    cursor:pointer;
    text-transform:uppercase;
    padding: 5px 8px 5px 8px;
    font-size: 11px;
}

.ro-ms-option-selected{
    background: #BDBDBD;
}

.ro-ms-options-container{
     z-index: 1; 
     display: block;
     top:5px;
     height: auto;
     max-height:267px;
     border: 1px solid rgba(169,169,169,0.5);
     position:relative;
     background-color: #fff;
     box-shadow: 0 6px 12px rgba(0,0,0,0.175);
     border-bottom-left-radius: 4px;
     border-bottom-right-radius: 4px;
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
}

.ro-ms-options-container:before {
     content: '';
     top: -5px;
     left: 7px;
     display: inline-block;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-bottom: 5px solid #ccc;
     border-top: 0;
     border-bottom-color: rgba(0, 0, 0, 0.2);
     position: absolute;
}
.ro-ms-options-container:after {
     top: -6px;
     left: 7px;
     content: '';
     display: inline-block;
     border-left: 6px solid transparent;
     border-right: 6px solid transparent;
     border-bottom: 6px solid #fff;
     border-top: 0;
     position: absolute;
}
.ro-ms-label{
    display:table-cell;
    padding: 0px 0px 0px 5px;
    border: 0px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    height:inherit;  
    line-height:24px;  
    width:100%;
    background: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.ro-ms-button{
    top: 0px;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    border-radius: inherit;
    width: 24px;
}
.ro-ms-label{
    display:table-cell;
    padding: 0px 0px 0px 5px;
    border: 0px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    height:inherit;  
    line-height:24px;  
    width:100%;
    background: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
/****************************/
/* Collapseable Header Styles*/
/****************************/
.ro-collapseable-header{
    color: white;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    width: 100%;
    overflow:hidden;
    background: rgb(100,100,100); 
    background: -moz-linear-gradient(top,  rgba(100,100,100,1) 0%, rgba(120,120,120,1) 50%, rgba(108,108,108,1) 51%, rgba(165,165,165,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,100,100,1)), color-stop(50%,rgba(120,120,120,1)), color-stop(51%,rgba(108,108,108,1)), color-stop(100%,rgba(165,165,165,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(100,100,100,1) 0%,rgba(120,120,120,1) 50%,rgba(108,108,108,1) 51%,rgba(165,165,165,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(100,100,100,1) 0%,rgba(120,120,120,1) 50%,rgba(108,108,108,1) 51%,rgba(165,165,165,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(100,100,100,1) 0%,rgba(120,120,120,1) 50%,rgba(108,108,108,1) 51%,rgba(165,165,165,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(100,100,100,1) 0%,rgba(120,120,120,1) 50%,rgba(108,108,108,1) 51%,rgba(165,165,165,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646464', endColorstr='#a5a5a5',GradientType=0 );  
}

.ro-collapseable-header-title{
    display:block;
    vertical-align: middle;
    left: 20px;
    width: 50%;
    margin-top:9px;
    margin-left:20px;
    float:left;
}

.ro-collapseable-header-resize{
    display:block;
    float:right;
    margin-right:15px;
    margin-top:4px;
    right: 10px;
    padding: 1px 6px 1px 6px;
    font-size: 16px;
    height: 26px;
    color:black;
}
/****************************/
/* Header Styles*/
/****************************/
.ro-header{
    display: table;
    table-layout: fixed;
    color: white;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    width: 100%;
    background: rgb(100,100,100); 
    background: -moz-linear-gradient(top,  rgba(100,100,100,1) 0%, rgba(120,120,120,1) 50%, rgba(108,108,108,1) 51%, rgba(165,165,165,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,100,100,1)), color-stop(50%,rgba(120,120,120,1)), color-stop(51%,rgba(108,108,108,1)), color-stop(100%,rgba(165,165,165,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(100,100,100,1) 0%,rgba(120,120,120,1) 50%,rgba(108,108,108,1) 51%,rgba(165,165,165,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(100,100,100,1) 0%,rgba(120,120,120,1) 50%,rgba(108,108,108,1) 51%,rgba(165,165,165,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(100,100,100,1) 0%,rgba(120,120,120,1) 50%,rgba(108,108,108,1) 51%,rgba(165,165,165,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(100,100,100,1) 0%,rgba(120,120,120,1) 50%,rgba(108,108,108,1) 51%,rgba(165,165,165,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646464', endColorstr='#a5a5a5',GradientType=0 ); 
}

.ro-header-text{
    display:table-cell;
    vertical-align:middle;
    padding-left: 20px;
}


.ro-dropdown-container{
    line-height: normal;
    z-index: 1;
    left: 2px;
    top: 37px;
    border: 1px solid rgba(169, 169, 169, 0.5);
    background-color: #fff;
    display: block;
    height: auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;    
    position: absolute;
}
.ro-dropdown-container:before {
     content: '';
     top: -5px;
     left: 7px;
     display: inline-block;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-bottom: 5px solid #ccc;
     border-top: 0;
     border-bottom-color: rgba(0, 0, 0, 0.2);
     position: absolute;
}
.ro-dropdown-container:after {
     top: -6px;
     left: 7px;
     content: '';
     display: inline-block;
     border-left: 6px solid transparent;
     border-right: 6px solid transparent;
     border-bottom: 6px solid #fff;
     border-top: 0;
     position: absolute;
}
.ro-dropdown-container ul{
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 3px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;   
    max-height: 140px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ro-dropdown-container  li{
    list-style: none;
    display: list-item;
    background-image: none;
    text-transform:uppercase;
    cursor:pointer;
    line-height: normal;
}
.ro-dropdown-container  li div{
    padding: 5px 8px 5px 8px;
    font-size: 11px;
}

.ro-dropdown-container  li div:hover{
    background: #BDBDBD;
}
/****************************/
/* General Styles*/
/****************************/

.invalid-data{
    border:1px solid red !important;
    outline:none !important;
    box-shadow: 0 0 10px red;
    -moz-box-shadow: 0px 0px 8px red;
    -webkit-box-shadow: 0px 0px 8px red;
}

.ro-required-field {
    color: red !important;
    font-weight: 900;
}

.ro-table{
    display: table;
}

.ro-table-cell{
    display: table-cell;
}

/****************************/
/* Ro Input Styles*/
/****************************/

.invalid-data .ro-input-text:focus {
    border:1px solid red !important;
    outline:none !important;
    box-shadow: 0 0 10px red;
    -moz-box-shadow: 0px 0px 8px red;
    -webkit-box-shadow: 0px 0px 8px red;
}

/****************************/
/* Ro Stop Styles*/
/****************************/

.stop-header,
.stop-header-active{
    border: 1px solid lightgrey;
    border-top: 0px;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    
    background-repeat: repeat-x;
    border-bottom-right-radius: 5px; 
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px; 
    border-top-left-radius: 0px;
    line-height: 44px; 
    margin-top: -5px; 
    text-align: center; 
    vertical-align: middle;
}

.ibd-header{
    border: 1px solid lightgrey;
    border-top: 0px;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    
    background-repeat: repeat-x;
    border-bottom-right-radius: 5px; 
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px; 
    border-top-left-radius: 0px;
    line-height: 44px; 
    margin-top: -5px; 
    text-align: center; 
    vertical-align: middle;
}

/****************************/
/* Ro Result Grid Styles*/
/****************************/

.ro-result-grid {
    display:block;
}

.ro-result-action {
    font-size:12px;
}

.ro-result-grid .pagination > .active > a, 
.ro-result-grid .pagination > .active > span, 
.ro-result-grid .pagination > .active > a:hover, 
.ro-result-grid .pagination > .active > span:hover, 
.ro-result-grid .pagination > .active > a:focus, 
.ro-result-grid .pagination > .active > span:focus 
{
    z-index: auto;
    background-color: #B0B0B0;
    border-color: #B0B0B0;
}

/****************************/
/* Ro Switch Styles*/
/****************************/



/****************************/
/* App Styles*/
/****************************/

.ro-app-container{
    font-family: Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    display:block;
    position:relative;
    top: 110px;
}

ro-modal-app-container{
    font-family: Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    display:block;
    position:relative;
}

.ro-content-container{
    background: white;
    margin: 0px auto 0px auto;
    padding: 10px;
    width:96%;
    box-shadow: 0px 5px 5px rgba(0,0,0,.3);
}

.ro-container{
    width: 99%;
    height:100%;
    line-height: normal;
    margin: 10px auto 0px auto;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;    
}

/****************************/
/* Print Styles*/
/****************************/
@media print {

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
    }
    
    .col-sm-12 {
      width: 100%;
    }
    
    .col-sm-11 {
      width: 91.66666666666666%;
    }
    
    .col-sm-10 {
      width: 83.33333333333334%;
    }
    
    .col-sm-9 {
      width: 75%;
    }
    
    .col-sm-8 {
      width: 66.66666666666666%;
    }
    
    .col-sm-7 {
      width: 58.333333333333336%;
    }
    
    .col-sm-6 {
      width: 50%;
    }
    
    .col-sm-5 {
      width: 41.66666666666667%;
    }
    
    .col-sm-4 {
      width: 33.33333333333333%;
     }
     
     .col-sm-3 {
       width: 25%;
     }
     
     .col-sm-2 {
       width: 16.666666666666664%;
     }
     
     .col-sm-1 {
      width: 8.333333333333332%;
     }
    .no-print, .no-print *
    {
        display: none !important;
    }
 }
  
  
/****************************/
/* Misc Styles*/
/****************************/
.ui-grid-draggable-row-target {
  opacity: 0.5 !important;
}
.ui-grid-draggable-row {
  height: 30px;
}
.ui-grid-draggable-row-over {
  position: relative;
}
.ui-grid-draggable-row-over:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 2px dotted #AAA;
}
.ui-grid-draggable-row-over--above:before {
  top: 0;
}
.ui-grid-draggable-row-over--below:before {
  bottom: 0;
}

.section {
  margin: 10px;
}
.ro-dropdown-container{
    line-height: normal;
    z-index: 1;
    left: 2px;
    top: 37px;
    border: 1px solid rgba(169, 169, 169, 0.5);
    background-color: #fff;
    display: block;
    height: auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;    
    position: absolute;
}
.ro-dropdown-container:before {
     content: '';
     top: -5px;
     left: 7px;
     display: inline-block;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-bottom: 5px solid #ccc;
     border-top: 0;
     border-bottom-color: rgba(0, 0, 0, 0.2);
     position: absolute;
}
.ro-dropdown-container:after {
     top: -6px;
     left: 7px;
     content: '';
     display: inline-block;
     border-left: 6px solid transparent;
     border-right: 6px solid transparent;
     border-bottom: 6px solid #fff;
     border-top: 0;
     position: absolute;
}


.ro-dropdown-container  li{
    list-style: none;
    display: list-item;
    background-image: none;
    text-transform:uppercase;
    cursor:pointer;
    line-height: normal;
}
.ro-dropdown-container  li div{
    padding: 5px 8px 5px 8px;
    font-size: 11px;
}

.ro-dropdown-container  li div:hover{
    background: #BDBDBD;
}

.ro-height-30{
    height: 30px;
}


.ro-mv-grid-value{
    min-height:30px;
}
.ro-padding-top-3{
    padding-top: 5px;
}

.ro-label-text-bold{
    font-weight: 600;
}

.ro-padding-top-5{
    padding-top: 5px;
}

.ro-padding-top-10{
    padding-top: 10px;
}
.input-width input{
    width:100%
}
.input-width>div{
    width:96%;
    float:left;
}
.sub-float{
    float:right;
    font-size:8px;
}
.margin-top{
    margin-top:10px;
}
.ro-padding-time{
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}
.ro-padding-bottom-5{
    padding-bottom: 5px;
}
.ro-padding-right-15{
    padding-right: 15px;
}
.ro-padding-result-3{
    padding-top:3px;
    padding-left: 3px;
    padding-right: 3px;
}
.ro-padding-reset{
    padding: 0px;
}
.ro-padding-reset-left{
    padding-left: 0px;
}
.ro-padding-reset-right{
    padding-right: 0px;
}
.ro-padding-reset-hz{
    padding-left: 0px;
    padding-right: 0px;
}
.ro-padding-hz-5{
    padding-left: 5px;
    padding-right: 5px;
}
.ro-padding-hz-15{
    padding-left: 15px;
    padding-right: 15px;
}
.ro-padding-zip{
    padding-left: 0px;
    padding-right:5px;  
}
.ro-padding-volume{
    padding-left: 0px;
    padding-right:5px;  
}
.ro-padding-latitude{
    padding-left: 0px;
    padding-right:5px;  
}
.ro-padding-longitude{
    padding-left: 5px;
    padding-right:0px;  
}
.ro-padding-hz-10{
    padding-left: 10px;
    padding-right: 10px;
}


.ro-result-container{
    overflow-y: auto;
    height:auto;
}

.ro-result-grid-empty{
    padding-left: 20px;
    padding-top:10px;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: 700;
}





/****/ 
.ro-grid-col-header >div{
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    
    background-repeat: repeat-x;
}
.ro-charge-grid .row > div{
    padding-left:5px;
    padding-right:5px;
}
.ro-pkginfo-grid .row > div{
    padding-left:5px;
    padding-right:5px;
}


.ro-border{
    border: 1px solid #A8A8A8;
}

.ro-border-rounded{
    border: 1px solid #A8A8A8;
     border-radius: 5px;    
}

.ro-padding-5{
    padding: 5px 5px 5px 5px;
}

.ro-padding-hz-5{
   padding-left: 5px;
   padding-right: 5px;
}

.ro-result-label{
    font-size: 10px;
    font-weight: 700;
    padding: 2px;    
    color:#848482;
}

.ro-result-label-bold{
    font-size: 10px;
    font-weight: 700;
    padding: 2px;    
    color:black;
}

.ro-result-button{
    font-size: 10px;
    font-weight: 700;
    padding: 2px;    
    color: white;
}

.ro-spacer-top{
    margin-top: 10px;
}
.ro-spacer-top-5{
    margin-top: 5px;
}
.ro-spacer-bottom{
    margin-bottom: 10px !important;
}
.ro-spacer-bottom-5{
    margin-bottom: 5px !important;
}
.ro-spacer-vertical{
    margin-bottom: 10px;
    margin-top: 10px;
}

.ro-spacer-vertical-5{
    margin-bottom: 5px;
    margin-top: 5px;
}

.reset-padding{
    padding: 0px;
}

.ro-ref-header{
    height: 30px;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);    
    background-repeat: repeat-x;
}

.ro-grid-container{
    width: 100%;
    height: 100%;
}

.ro-grid-container .row{
    height: 30px;
}

.ro-grid-container > .row >div{
    height: 100%;
    border-right: 1px solid #ececec !important;
}

.ro-col-seperator{
    display: block;
    
}

.ro-ref-row{
 display: table;
 width: 100%;
}

.ro-ref-col{
     float: none;
    display: table-cell;
     vertical-align: top;
        border-right: 1px solid #ececec !important;
     
}

.ro-grid-cell{
    display: inline-block;
    vertical-align:middle;
    width:100%;
    height:100%;
    position:relative;
    top: 2px;
}
.ro-header-btn{
    float: right;
    margin-right: 10px;
}
.ro-valign-center{
    vertical-align: middle;
}

.ro-border-top{
    border-top: 1px solid #b0b0b0;
}

.ro-grid-cell .ro-select{
    background-image:none;
    border: 1px solid #B0B0B0;
}

.ro-grid-action {
    top: 3px;
    width:100%;
    font-size:14px;
    
    position:relative;
}

.ro-grid-action button{
    padding:1px 6px 1px 6px;
}

.ro-col-custom{
    float: left;
    position: relative;
    min-height: 1px;
}
.ro-col-custom-4{
    width:4%;
}
.ro-col-custom-5{
    width:5%;
}
.ro-col-custom-6{
    width:6%;
}
.ro-col-custom-7{
    width:7%;
}
.ro-col-custom-8{
    width:8%;
}
.ro-col-custom-9{
    width:9%;
}
.ro-col-custom-35{
    width:35%;
}
.ro-col-custom-38{
    width:38%;
}
.ro-col-custom-40{
    width:39.5%;
}
.ro-col-custom-8{
    width:8%;
}
.ro-col-custom-10{
    width:9.5%;
}
.ro-col-custom-20{
    width:19.5%;
}
.ro-col-custom-12{
    width:11.5%;
}
.ro-col-custom-13{
    width:13%;
}
.ro-col-custom-15{
    width:15%;
}
.ro-col-custom-45{
    width:45%;
}
.ro-col-custom-4{
    width:20%;
}

.ro-col-custom-40{
    width:40%;
}

.ro-col-custom-25 {
    width: 25%;
}
.ro-col-custom-5{
    width:5%;
}
.ro-btn{
    height: 30px;
}

.ro-inline-btn{
    height: 26px;
    width:30px;
}

.ro-border-reset{
    border: 0px;
}

.ro-inline-btn:disabled{
    color: #bdbdbd;
}
.ro-form-btn{
    height:26px !important;;
}

.ro-form-btn:focus,
.ro-from-btn:hover,
.ro-form-btn:active,
.ro-btn:focus,
.ro-btn:hover,
.ro-btn:active,
.ro-collapseable-header-resize:focus,
.ro-collapseable-header-resize:hover,
.ro-collapseable-header-resize:active,
.ro-accordian-header-resize:focus,
.ro-accordian-header-resize:hover,
.ro-accordian-header-resize:active,
.stop-header-active:focus,
.stop-header-active:hover,
.ro-accordian-header-resize:active,
.stop-header-active,
.ro-form-btn,
.ro-btn,
.ro-collapseable-header-resize,
.ro-accordian-header-resize,
.ro-grid-action-buttons{
    border:2px solid #7bc1f7 !important;
    outline:none !important;
    box-shadow: 0 0 10px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
     background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    background-repeat: repeat-x;
}
.ro-float-right{
    float:right;
}
.ro-align-right{
    text-align:right !important;
}
.ro-align-center{
    text-align:center;
}
.ro-rg-row-border{
    border-top: 1px solid #A8A8A8;
}

.ro-rg-row-border-bold{
    border: 1px solid #333;
}

.ro-btn-add-stop i{
    font-size:14px;
}

.ro-grid-header{
    color: white;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    width: 100%;
    overflow:hidden;
    background: rgb(100,100,100); 
    background: -moz-linear-gradient(top,  rgba(100,100,100,1) 0%, rgba(120,120,120,1) 50%, rgba(108,108,108,1) 51%, rgba(165,165,165,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,100,100,1)), color-stop(50%,rgba(120,120,120,1)), color-stop(51%,rgba(108,108,108,1)), color-stop(100%,rgba(165,165,165,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(100,100,100,1) 0%,rgba(120,120,120,1) 50%,rgba(108,108,108,1) 51%,rgba(165,165,165,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(100,100,100,1) 0%,rgba(120,120,120,1) 50%,rgba(108,108,108,1) 51%,rgba(165,165,165,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(100,100,100,1) 0%,rgba(120,120,120,1) 50%,rgba(108,108,108,1) 51%,rgba(165,165,165,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(100,100,100,1) 0%,rgba(120,120,120,1) 50%,rgba(108,108,108,1) 51%,rgba(165,165,165,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646464', endColorstr='#a5a5a5',GradientType=0 ); 
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
    background: #BDBDBD;
}

.ro-grid-header-title{
    margin-top:9px;
    margin-left:20px;
    position: absolute;
}

.ro-grid-header-resize{
    margin-right:15px;
    margin-top:2px;
    right: 10px;
    position: absolute;
    font-size: 16px;
    color:black;
}

.reset-padding-right{
    padding-right: 0px;
}


.ro-focus{
    border:1px solid #7bc1f7 !important;
    outline:none !important;
    box-shadow: 0 0 10px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

.ro-vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.ro-input{
    height: 26px;
    width:100%;
}
.ro-input-chkbox{
    height: 26px;
}
.ro-input-text:focus{
    border-color: #9ecaed;
    outline: none;
    box-shadow: 0 0 10px #9ecaed;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

.ro-input-border{
    border: 1px solid #B0B0B0 ;
    border-radius: 4px;
}

.ro-input-text{
    padding-left: 5px;
}

.vcenter{
    vertical-align: middle;
}
.ro-shipment-message{
    margin-left: 5px;
    margin-right: 5px;
}
.ro-shipment-message ul {
    margin-bottom: 0px;
    
}
.ro-margin-right-10{
    margin-right: 10px;
}
.ro-margin-10{
    margin: 10px;
}
.ro-margin-15{
    margin: 15px;
}
.ro-margin-hz-15{
    margin-left: 15px;
    margin-right: 15px;
}
.ro-margin-hz-5{
    margin-left: 5px;
    margin-right: 5px;
}
.ro-ibd-header{
    height: 30px;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    
    background-repeat: repeat-x;
    color: #A0A0A0;
}
.ro-ibd-header > div{
    height: 100%;
}
.disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ro-text{
    padding-top:7px;
}
.ro-label {    
    font-size: 11px;
    font-weight: 900;
    padding: 2px;    
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.ro-label-date,.ro-table-date-cell{
    width :10% !important;
}

.ro-label-12,.ro-table-cell-12{
    width:12% !important;
}

.ro-label-19,.ro-table-cell-19{
    width:19.666669% !important;
}

.ro-label-text{
    padding-left: 2px;
    word-wrap: break-word;
    font-size: 11px;
}


.ro-invoice-currency{
    padding-left:0px;
    padding-right: 0px;
}
.ro-charge-detail-grid .row:nth-child(1n) {
    background-color: rgb(239,239,239);
}
.ro-result-grid-header{
    height:40px;
    max-height:40px;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    
    background-repeat: repeat-x;
    color: #A0A0A0;
}
.ro-rg-header-row{
    height:40px;
    color: #848482;
}


.ro-rg-header-cell{
    height: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

.ro-rg-header-cell button{
    background-color: #fff;
    border: 1px solid #ddd;
    color: #777;
    height: 29px;
    padding-left:10px;
    padding-right:10px;
    border-radius:5px;
}
.ro-result-value{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
    color: #828285;
    font-size: 10px;
}
.ro-result-grid a{
    color: #337ab7;
}
.ro-result-grid a:hover{
    cursor: pointer;
}

.ro-result-size{
    font-size:11px;
}
.col-lg-custom-5{
    width: 5%;
}
.col-lg-custom-75{
    width: 7.5%;
}
.col-lg-custom-7-5{
    width: 7.5%;
}
.col-lg-custom-10{
    width: 10%;
}
.col-lg-custom-12-5{
    width: 12.5%;
}
.col-lg-custom-15{
    width: 15%;
    float: left;
}
.col-lg-custom-14-5{
    width: 14.5%;
    float: left;
}

.col-lg-custom-17-5{
    width: 17.5%;
    float: left;
}
.col-lg-custom-15-8{
    width: 15.8%;
    float: left;
}
.col-lg-custom-20{
    width: 20%;
    float: left;
}
.col-lg-custom-22-5{
    width: 22.5%;
}
.col-lg-custom-25{
    width: 25%;
}
.col-lg-custom-30{
    width: 30%;
    float: left;
}
.col-lg-custom-32-5{
    width: 32.5%;
    float: left;
}
.col-lg-custom-35{
    width: 35%;
    float: left;
}
.col-lg-custom-37-5{
    width: 37.5%;
    float: left;
}
.col-lg-custom-40{
    width: 39%;
}
.col-lg-custom-45{
    width: 44%;
}
.col-lg-customs-45{
    width: 45%; 
}
.col-lg-custom-50{
    width: 50%;
}
.col-lg-custom-62{
    width: 61%;
}
.col-lg-custom-38{
    width: 37%;
}
.col-lg-custom-70{
    width: 69%;
}
.ro-result-grid-row {
    height: 51px;
}
.ro-result-grid-row-even{
    background-color: rgb(238,238,238);
}
.ro-result-grid .result-pagination{
    margin: 5px 0px;
}
.ro-result-select-header{
    width: 30px;
    padding:5px;
    text-align:center;
    vertical-align:middle;
    margin: 0px;
    color: #C0C0C0;
    cursor: pointer;
    border-right: 1px solid  #C0C0C0;
}

.ro-result-select-header:hover{
    color: #4169E1 !important;
    background: #4169E1 !important;
}       

.ro-result-select{
    width: 30px;
    padding:5px;
    text-align:center;
    vertical-align:middle;
    margin: 0px;
    color: #C0C0C0;
    border-right: 1px solid  #C0C0C0;
    border-top: 1px solid  #C0C0C0; 
    background-color:  rgb(240, 240, 238)
}

.ro-result-grid-row-selected{
   color: #39C339 !important;
}

.ro-result-select:hover{
    color: #red !important;
    background: #4169E1;
}
.ro-sub-header{
    height: 30px;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    
    background-repeat: repeat-x;
}
.ro-background-1{
   background-image: -webkit-linear-gradient(top, #ffffff 0, #e0e0e0 100%);
    background-image: -o-linear-gradient(top, #ffffff 0, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e0e0e0));
    background-image: linear-gradient(to bottom, #ffffff 0, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    
    background-repeat: repeat-x;
}

.ro-mv-grid{
    text-align:center;
    min-height:30px;
    border-right:1px solid #A0A0A0;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    
    background-repeat: repeat-x;
}
.ro-detail-grid .row:nth-child(1n) {
    background-color: rgb(239,239,239);
}

.ro-result-grid-row{
    font-size: 10px;
}
@media only screen and (max-width : 780px) {
    
}
@media only screen and (min-width : 980px) {

    .modal-ro-shipment{
        width: 960px;
    }
    .modal-ro-manualLoad{
        width: 500px;
    }
    .modal-ro-rateload{
        width: 960px;
    }
    .ro-content-container{
        max-width: 980px; 
    }
    
    .ro-invoice-currency{
        padding-right: 0px;
        padding-left:15px;
    }

    .ro-waiter{
      width: 150px;
      height: 150px;
      line-height: 150px;
      margin-top: -75px;
      margin-left: -75px;
    }
    @-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(135px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(135px) translateY(135px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(135px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(135px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(135px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(135px) translateY(135px) rotate(-179deg);
    -webkit-transform: translateX(135px) translateY(135px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(135px) translateY(135px) rotate(-180deg);
    -webkit-transform: translateX(135px) translateY(135px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(135px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(135px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
    .ro-sine-row{
        width:210px;
        height:17px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 5px;
        background-color: #EBEBEB;
        margin: 2px auto 2px auto;
        font-weight:600;
    }

    .ro-sine-row:hover { background-color: #999999; }
    
    .ro-sine-header{
        background-color: rgb(25, 80, 117);
        color: white;
    }
    .ro-sine-column{
        margin-left:5px;
     }

    .ro-tablecell{
        display: table-cell;
        padding: 5px;
    }

    .ro-tablecell:before{
        display: table;
    }

    .ro-alert-container{
        padding-left:10px;
        padding-right:10px;
        margin-bottom:10px;
    }

    .panel-default>.panel-heading {
       height:30px;
    }


    .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
        color: inherit;
        font-weight: bold;
    }

    .ro-sine-row-module-a{
        font-size: 12px !important;
        font-weight: 600 !important;
        color: #FFFFFF !important;
        font-family: Arial, sans-serif !important;
    }

    .ro-sine-row-a{
        font-size: 12px !important;
        font-weight: 575 !important;
        color: #333 !important;
        font-family: Arial, sans-serif !important;
    }

    .pie-legend{
      font-weight : bold;
      font-size : 11px !important;
    }

    .multiSelect > button {
      width:300px;
      min-height:30px !important;
      font-weight:bold;
      font-size:12px;
      }

    #dashboard-search-container{
        width: 100%;
        line-height: normal;
        margin: 10px auto 0px auto;
        padding: 5px 5px 5px 5px;
        border-radius: 5px;
        border: 1px solid lightGrey;
        }

    .dashboard-graph-container{
        height: 170px;
        border: 1px solid lightGrey;
         border-radius: 5px;
        width:100%;margin-left: 
        auto;margin-right: auto;
    }

    .dashboard-data-container{
        height: auto;
        float: left;
        width:100%;
        margin:0 auto;
        font-family: 'Helvetica Neue', Helvetica, Arial;
        font-weight: 550;
        color: #3b3b3b;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
          border: 1px solid lightGrey;
         border-radius: 5px;
    }


    .bar-legend{
        font-size:12px !important;
        font-weight:bold;
    }
    
    .dashboard-header-text{
        font-size: 11px; 
        font-weight: 600;
        padding: 4px;    
        color: white;
    }

    .header-secondary-nav-section > ul > li{
        line-height: 14px;
    }

    .glyphicon.glyphicon-refresh {
        font-size: 15px;
    }
    
    .glyphicon.glyphicon-time {
        font-size: 20px;
    }
    
    .glyphicon.glyphicon-dashboard {
        font-size: 30px;
    }
    
    #dashboar-alert-container{
        font-size: 14px !important;
    }
.textarea-default{
    min-width:100% !important;
    min-height:40px !important;
    max-width:100% !important;
    max-height:130px !important;
}

.header-label-large{
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    vertical-align: baseline;
    padding-top:10px;

}

.highlight-true{
    background-color: grey;
}

.btn-highlight-true{
    outline: blue !important;
    border-color: black;
    background-image: -webkit-linear-gradient(top,#C2C2BC 0,#C2C2BC 100%);
    border: 1px solid black;
}

.btn-highlight-false{
    
}
.btn-text-large a{
    font-size: 12px;
    color:black;
    font-weight: bold !important;
}

.row-odd{
    background: #efefef;
}

.ro-result-label-subgrid{
    font-size: 10px;
    font-weight: 700;
    padding: 2px;    
    color: rgba(0,0,0,0.84);
}

.ro-result-label-btn{
    font-size: 10px;
    font-weight: 700;
    padding: 2px;    
    color: black !important;
}
.ro-result-label-btn:focus {
    outline: 1px solid black;
  }

.ro-result-value-subgrid{
    color: rgba(108,108,108,1);;
}

.ro-input-bootstrap{
    height : 34px !important;
}

.ro-result-subgrid-scroll{
    overflow-y:scroll;
    min-height:10px;
    max-height:250px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    background: white;
}
}
.stop-grid-action{
    padding-top:5px;
    padding-left:1px;
}

.ui-grid-header-cell .ui-grid-cell-contents {
     white-space: normal;
     -ms-text-overflow: clip;
     -o-text-overflow: clip;
     text-overflow: clip;
     overflow: visible;
}

.ui-grid {
     min-height : 10px;
     max-height : 150px;
}
ui-grid
.ro-boreder-highrlight-true{
    -webkit-box-shadow: 0px 0px 4px #4195fc;
    -moz-box-shadow: 0px 0px 4px #4195fc;
    box-shadow: 0px 0px 4px #4195fc;
}

.ro-checkbox{
    width: 24px !important;
    height: 25px !important;
    margin: 0px !important;
}

.ro-checkbox-2{
    width: 24px !important;
    height: 22px !important;
    margin: 0px !important;
}

.ro-float-right{
    float: right;
    margin-right: 2px !important;
    margin-left: 2px !important;
}
.ro-accordian-header{
    color: white;
    font-size: 9px;
    font-weight: 700;
    height: 20px;
    width: 100%;
    margin-bottom: 2px;
    overflow:hidden;
    background: rgb(100,100,100); 
    background: -moz-linear-gradient(top,  rgba(100,100,100,1) 0%, rgba(120,120,120,1) 50%, rgba(108,108,108,1) 51%, rgba(165,165,165,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,100,100,1)), color-stop(50%,rgba(120,120,120,1)), color-stop(51%,rgba(108,108,108,1)), color-stop(100%,rgba(165,165,165,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(100,100,100,1) 0%,rgba(120,120,120,1) 50%,rgba(108,108,108,1) 51%,rgba(165,165,165,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(100,100,100,1) 0%,rgba(120,120,120,1) 50%,rgba(108,108,108,1) 51%,rgba(165,165,165,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(100,100,100,1) 0%,rgba(120,120,120,1) 50%,rgba(108,108,108,1) 51%,rgba(165,165,165,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(100,100,100,1) 0%,rgba(120,120,120,1) 50%,rgba(108,108,108,1) 51%,rgba(165,165,165,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646464', endColorstr='#a5a5a5',GradientType=0 ); 
}

.ro-accordian-result{
    margin-bottom: 2px;
    border-bottom: solid 1px #828285;
}

.ro-accordian-header-resize{
    display:block;
    float:right;
    margin-right:15px;
    margin-top:0px;
    right: 10px;
    padding: 1px 6px 1px 6px;
    font-size: 11px;
    height: 20px;
    color:black;
}

.ro-accordian-header-button {
    width: 3%;
    height: 75%;
}

.ro-accordian-title{
    margin-top:0.5%;
    margin-left:0px;
    position: absolute;
}

.documentFont{
    line-height:25px;   
}

.documentFont .ro-result-label-bold{
    font-size:12px !important;
}   
button.ro-collapseable-header{
    border-color:#7bc1f7;
}

input[disabled],input[disabled]+span {
    background-color: rgb(235, 235, 228);
    color:#a9a9a9;
}
input[disabled]+span{   
    border-radius: 0px 5px 5px 0px;
}
.ro-padding-hzr-5{
    padding-left: 5px;
    padding-right: 0px;
}
.no-padding{
    padding-right: 0px;
    padding-left: 0px;
}
.no-left-5{
    padding-right: 5px;
    padding-left: 0px;
}
.dropdown-menu>li>a{
    white-space: pre;
}
.col-lg-3{
    width: 25%;
}
.col-lg-12 {
    width: 100%;
}
#tools-container .container{
    width:auto;
    padding-right: 0px;
    padding-left: 0px;
}
.ro-grid-row-highlight-true{
    border: 2px solid #333333!important;
}
legend{
    font-size:11px;
    font-weight:bold;
    padding:5px;
    font-weight: 900;
    margin-bottom:0px;
}

.shipment-email{
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
 
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
 
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
 
.glyphicon-left {
    margin-right: 7px;
}

.displayContainer {   
    display: block;
    height: 50%;
    width: 100%;
}

.centerPseudo {
    display: inline-block;
    text-align: center;
}

.reference-cell{
    float: left;
    padding-right: 5px;
    width: 50%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ro-a-btn{
    border-radius:0px;
    font-size: 12px !important;
    color:inherit !important;
}

.ro-div-a{
    color:#337ab7 !important;
    text-decoration: none !important; 
}

.ro-div-a:hover {
    color:#337ab7;
    text-decoration: underline !important;
}

.collapsibleContainer {height: 100px; padding: 10px; border: solid 1px #CCC}

.dropdownValues{    
    position: relative;
    top: 0px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    z-index: 999;
}
