<div >
	<h2 class=" bg-info" style="margin:20px 0 10px 0">Data Binding:</h2>
	<div ng-init="FirstName='Girish'">
		<p>
			Name is <span data-ng-bind="FirstName"></span> 
		</p>
	</div>

	<div>
		<p> My first expression {{5 + 5}} </p>
	</div>

	<h2 class=" bg-info" style="margin:20px 0 10px 0">Two-way Binding:</h2>

	<p>Please enter your name:</p>
	<p>Name : <input type="text" ng-model="name" placeholder="Enter name here"></p>
	<h1>Hello {{name}}</h1>
	<hr>
	<span> First Name : <input type="text" ng-model="firstName" placeholder="Enter first name here"></span>
	<span> Last Name : <input type="text" ng-model="lastName" placeholder="Enter last name here"></span>
	<div>Full Name : {{firstName +" "+ lastName}}</div>
	<hr>
	Styles:

	<div ng-init="blueColor='#FFFF00'; amount='$'; multiply = 5; value=500; object = {name: 'Girish', dob : '02/02/12'}; age = [22,31,35,44,56]; object = [{name: 'Girish', dob : '02/02/12'}, {name: 'Ledala', dob : '05/05/15'}]">
		<div>
			<input style="background-color:{{blueColor}}" ng-model="blueColor" value="{{blueColor}}" >
		</div>

		<hr>
		<div ng-init="">
			<p>{{amount}} {{value * multiply}}</p>
		</div>

		<div ng-init="">
			<p> My Name is {{object.name}} and my DOB is {{object.dob}}</p>
		</div>

		<div ng-init="">
			<p> My age is {{age[1]}}</p>
		</div>
		<h2 class=" bg-info" style="margin:20px 0 10px 0">JSON Object Binding:</h2>
		<div ng-init="">
			<p  ng-repeat="x in object">
			 My Name is {{x.name}} and my DOB is {{x.dob}}
			</p>
		</div>
		Array Binding:
		<div ng-init="">
			<p ng-repeat="x in age"> My age is {{x}}</p>
		</div>
	</div>

	<h2 class=" bg-info" style="margin:20px 0 10px 0">Directives:</h2>

	<gk-test-directive></gk-test-directive>

	<div class="gk-test-directive"></div>
<h2 class=" bg-info" style="margin:20px 0 10px 0">Validate Email:</h2>
	<form name="myForm">
		Email:
		<input ng-model="text" name="myEmail" type="email">
		<div class="redColor" ng-show="myForm.myEmail.$error.email">
			Email is not a valid one.
		</div>
	</form>

<h2 class=" bg-info" style="margin:20px 0 10px 0">Valid/ Dirty/ Touched Flags:</h2>
	<form name="myForm2" ng-init="testMail='girishledala@gmail.com'">
		Email:
		<input ng-model="text" name="myEmail2" type="email" required>
		<div class="" >
			Status: 
			{{myForm2.myEmail2.$valid}}
			{{myForm2.myEmail2.$dirty}}
			{{myForm2.myEmail2.$touched}}
		</div>
	</form>
<h2 class=" bg-info" style="margin:20px 0 10px 0">ng-click:</h2>
	<div ng-click="changeName()">
		{{firstName +" "+lastName}}
	</div>
<h2 class=" bg-info" style="margin:20px 0 10px 0">ng-repeat:</h2>
	<div ng-controller="custom">
		<li ng-repeat ="x in names">
			Name is <label ng-bind="x.name"></label> and DOB is {{x.dob}} </li>
		</li> 

		<li ng-repeat ="x in names">
			 {{x.dob | date}} </li>
		</li> 

		<li ng-repeat ="x in names ">
			 {{x.amount | currency}} </li>
		</li> 

		<li ng-repeat ="x in names ">
			Name is {{x.name | uppercase}} </li>
		</li> 
		<li ng-repeat ="x in names | orderBy :'name' ">
			Name is {{x.name }} </li>
		</li> 
		<label>Select State : </label>
		<select>
			<option ng-repeat ="y in states">
				{{y.name}} </li>
			</option> 
		</select>
		<br>
		<h2 class=" bg-info" style="margin:20px 0 10px 0">Services: </h2>
		<p>Data comes from a service and "How are you bud!" message shows after 2 secs using $timeout function, All the data on the page is binded with scope variables. </p>
		<li>{{myURL}}</li>
		<li>{{myMsg}}</li>
		<li>{{date}}</li>
		<li>{{ajaxResponse}}</li>

		<div> My number is {{myNumber}}</div>
	</div>
	<h2 class=" bg-info" style="margin:20px 0 10px 0">Filtering:</h2>
	<div ng-controller="filtering">
		<input type="text" ng-model="test" >
		<li ng-repeat="x in name | filter: test">{{x.name}}</li>
	</div>	

</div>