<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" type="image/ico" href="favicon.ico"></link>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--Pulling Awesome Font -->
	    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></link>

	    <!-- This is the latest version of angular (at the time this template was created) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

	     <!-- apiCheck is used by formly to validate its api -->
	    <script src="https://npmcdn.com/api-check@latest/dist/api-check.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-messages.js"></script>

		<!-- This is the current state of master for formly core. -->
	    <script src="https://npmcdn.com/angular-formly@latest/dist/formly.js"></script>
	    <!-- This is the current state of master for the bootstrap templates -->
	    <script src="https://npmcdn.com/angular-formly-templates-bootstrap@latest/dist/angular-formly-templates-bootstrap.js"></script>
	    <script src="./script.js" type="text/javascript"></script>

	   <script src="/Learning/learningController.js"></script>
	   <script src="/About/aboutController.js"></script>
	   <script src="/Contact/contactController.js"></script>
	   <script src="/Location/locationController.js"></script>
	   <script src="/Projects/projectsController.js"></script>
	    <script src="/Custom/customFilterController.js"></script>

	  <script src="/Common/Directives/MultiSelect/customDirective.js"></script>
	  <script src="/Common/Directives/CollapsibleHeader/roCollapsibleHeader.js"></script>
	   <link rel="stylesheet" href="/Resources/css/styles.css">
		<style>
			
		</style>
	</head>
	<body>
		<div ng-app="myApplication" class="">
			<div class="navbar header navbar-default navbar-fixed-top" >
				<div class="container-fluid">
					<div class="navbar-header">
					<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
			            <i class="icon-reorder"></i>
			        </button>
						<a href="#/" class="navbar-brand headerImg"></a>
					</div>
					<nav class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="about">
							<a href="#/"> About </a>
						</li>
						<li class="learning">
							<a href="#learning">Learning Angular</a>
						</li>
						<li class="custom">
							<a href="#custom">Custom Directives</a>
						</li>
						<li class="projects">
							<a href="#projects">Projects</a>
						</li>
						<li class="contact">
							<a href="#contact">Contact</a>
						</li>
						<li class="location">
							<a href="#location">Location</a>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right" ng-controller="custom">
						<li>
							<a href="#" class="welcomeText">Welcome to my CodeHub,
								<br/>
								Today is, {{date}}
							</a>
						</li>
						<li class="">
							<a href="#/" class="headerImg"> </a>
						</li>
					</ul>
					</nav>
				</div>
			</div>

			<div ng-view class="content container">

			</div>

			<div class="col-md-12 footer">
	            <ul class="social-network social-circle">
	                <li><a href="http://www.skype.com" target="_blank" class="icoVimeo" title="Skype"><i class="fa fa-skype"></i></a></li>
	                <li><a href="http://www.facebook.com" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
	                <li><a href="http://www.twitter.com" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
	                <li><a href="http://www.plus.google.com" target="_blank" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
	                <li><a href="http://www.linkedin.com" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
	            </ul>				
			</div>
		</div>
	</body>
</html>
