
<div>
	<h2 class="bg-info" style="margin:0 0 10px 0"> Custom Filter:</h2>
	<div ng-controller="customFilter as cff">
		<ro-multiselect options="cff.tempObject" label="{{cff.text}}" on-submit="cff.submit" style="height:40px">
		<!-- This text is: (Transcludes that get added in a Custom directive) -->
		</ro-multiselect>

		<div class="clearfix"></div>

		<h2 class="bg-info" style="margin:10px 0 10px 0">Collapsible Header:</h2>

		<ro-collapseable-header is-collapsed="cff.openHeader" is-highlight="cff.highlight" header-key="header.references"> 
			<div class="collapsibleContainer">
				<div class="col-md-6">
					<div class="col-md-12">
						<label>Select State:</label>
					</div>
					<div class="col-md-12">
						<ro-multiselect class="" options="cff.tempObject" label="{{cff.text}}" on-submit="cff.submit">
						<!-- This text is: (Transcludes that get added in a Custom directive) -->
						</ro-multiselect>
						
					</div>
				</div>
				<div class="col-md-6">
					<div class="col-md-12">
						<label>Enter ZIP:</label>
					</div>
					<div class="col-md-12">
						<input type="text" class="col-md-12" name="zip"> </input>
					</div>
				</div>
			</div>
		</ro-collapseable-header>
		

	</div>
	<div class="clearfix"></div>
	<h2 class=" bg-info" style="margin:20px 0 10px 0">Angular Formly:</h2>
	<div ng-controller="formlyController as fc">
		<form ng-submit="fc.onSubmit()" class="col-md-6">
			<formly-form model="fc.model" fields="fc.fields" options="fc.options">
				<button type="submit" class="btn btn-primary submit-button">Submit</button>
			</formly-form> 
		</form>
	</div>


</div>